/* .wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  background-color: #fff;
  color: #444;
  max-width: 800px;
}

.row {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
}

div:nth-child(4) {
  grid-row-start: 2;
}
div:nth-child(5) {
  grid-row-start: 3;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
} */

.highlight {
  color: red;
  background-color: yellow;
  border: 1px solid red;
}

.border {
  border: 1px solid black;
  width: 350px;
  height: 700px;
  background-color: white;
}

.textvalue {
  display: none;
}

.textvalue div {
  border: 1px solid black;
  display: inline-block;
  width: 170px;
  height: 170px;
  text-align: center;
  /* float: left; */
  /* margin-top: 20%; */
  /* display: none; */
}
.centerDiv {
  float: right;
  position: absolute;
  left: 35.5%;
  top: 9px;
  background-color: white;
  border: 1px solid black;
  width: 23%;
  height: 90%;
}

.rightDiv {
  float: right;
  position: absolute;
  left: 71%;
  top: 9px;
  background-color: white;
  border: 1px solid black;
  width: 23%;
  height: 90%;
}

body {
  background-color: grey;
}

select#inventoryForm {
  position: absolute;
  top: 25px;
  left: 26%;
  width: 7%;
  height: 3%;
}
